<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Appareils:</h3>            
                <app-appareil *ngFor="let appareil of appareils; let i = index" [appareilName]="appareil.name" [appareilStatus]="appareil.status" [appareilIndex]="i" ></app-appareil>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

