<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
    <div class="panel-heading">
        <p class="panel-title">{{ appareilName }} est en mode {{ appareilStatus }}</p>
    </div>
    <div class="panel-body">
        <button *ngIf="appareilStatus === 'éteint'" class="btn btn-success" (click)="onChangeStatus(appareilIndex)" >Allumer</button>
        <button *ngIf="appareilStatus === 'allumé'" class="btn btn-danger"  (click)="onChangeStatus(appareilIndex)">Eteindre</button>
    </div>

</li>
